<footer class="container">
    <p>
    Zenarts factory at about 1000 m. Upgrades stack!
    </p>
    <p>
    Controls: WASD or arrow keys, ESC, E, Enter, F.
    </p>
    <p>
    Story: The penguin is really thirsty for some Zenarts and needs to get to the source before it freezes to death. <br> Don't ask why the penguin is freezing to death, it's just really cold outside or something.
    </p>
    <p>
    Made by Filip TE19 with graphics from Anton and Mattias in ES20
    </p>
    <p>
    The story, all names, characters, and incidents portrayed in this production are fictitious. No identification with actual persons (living or deceased), places, buildings, and products is intended or should be inferred.
    No person or entity associated with this film received payment or anything of value, or entered into any agreement, in connection with the depiction of julmust products.
    No penguins were harmed in the making of this video game.
    </p>
    <p>If you have any feedback or find a bug, add an <a href="{{ pkg.repository.url }}/issues" target="_blank">issue</a> on GitHub.</p>
</footer>