<footer class="container">
    <p>
    Zenarts factory at about 1000 m. Controls: WASD or arrow keys, ESC, E, Enter, F.
    </p>
    <p>
    The story, all names, characters, and incidents portrayed in this production are fictitious. No identification with actual persons (living or deceased), places, buildings, and products is intended or should be inferred.
    No person or entity associated with this film received payment or anything of value, or entered into any agreement, in connection with the depiction of julmust products.
    No penguins were harmed in the making of this video game.</p>
    <p>Om du hittar en bug eller har feedback skapa gärna ett <a href="{{ pkg.repository.url }}/issues" target="_blank">issue</a> på GitHub.</p>
</footer>