@use 'utilities/container';

@font-face {
    font-family: PressStart2P;
    src: url('/assets/PressStart2P-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgb(241, 241, 241);
    background-color: #303030;
    font-family: PressStart2P;
    font-size: smaller;
}

nav, footer {
    width: 800px;
    padding: 1rem 0;
}

canvas {
    display: block;
    margin: 0 auto;
}